{% extends '/Layout.twig' %}

{% block title %} Disc Wolf {% endblock %}

{% block body %}
    <section class="section">
        <form action="/hole/1" method="post" id="player_names" name="player_names">
            {% for i in 1..data['playerCount'] %}
                <table class="table is-fullwidth">
                    <tbody>
                        <div class="field">
                            <tr>
                                <th>
                                    <label class="label">Player {{ i }}</label>
                                </th>
                                <th>
                                    <label class="label">Wolf Order</label>
                                </th>
                                <th>
                                    <label class="label">Nassau</label>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Player Name" name="player{{ i }}" id="player{{ i }}">
                                    </div>
                                </td>
                                <td>
                                    <div class="control">
                                        <div class="select">
                                            <select name="wolf_order" id="wolf_order" name="wolf_order"> <!-- form="game_start"> -->
                                                {% for player_order in 1..data['playerCount'] %}
                                                    <option>{{ player_order }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="control">
                                        <div class="select">
                                            <select name="nassau" id="nassau"> <!-- form="game_start"> -->
                                                <option value="0.00">Not Today</option>
                                                <option value="1.00">&#36;1</option>
                                                <option value="2.00">&#36;2</option>
                                                <option value="5.00">&#36;5</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            {% endfor %}
            <div class="field is-grouped">
                <input type="hidden" class="input" value="{{ data['playerCount'] }}" name="playerCount" id="playerCount">
                <input type="hidden" class="input" value="{{ data['playerSkins'] }}" name="playerSkins" id="playerSkins">
                <input type="hidden" class="input" value="1" name="currentHole" id="currentHole">
                <div class="control">
                    <input class="button is-link" type="submit" form="player_names" value="Let's Go!">
                </div>
                <div class="control">
                    <input class="button" type="button" form="player_names" value="Cancel">
                </div>
            </div>
        </form>
    </section>
{% endblock %}

{% block scripts %}{% endblock %}
